<nav>
    <a href="index.html">Home | </a>
    <a href="introduction.html">Introduction |</a>
    <a href="contract.html">Contract |</a>
    <a href="tables.html">Tables |</a>
    <a href="forms.html">Forms |</a>
    <a href="website_evaluations.html">website_evaluations |</a>
    <a href="firstScripts.html">First Scripts |</a>
    <a href="polygons.html">Polygons |</a>
    <a href="calculator_try.html">Calculator Try |</a>
    <a href="calculator_fcc.html">Calculator FCC |</a>
    <a href="arrays.html">Arrays |</a>
    <a href="slideshow.html">Slideshow |</a>
    
</nav>
<nav>
    <a href="Cr@ppy p@ge.htm">Crappy Webpage |</a>
    <a href="Accessibility/Lewis-Activity_Accessibility.html">Accessibility |</a>
    <a href="hobby/index.html">Hobby |</a>
    <a href="page_design.html"> Page Design |</a>
    <a href="project_1/index.html">Project 1 |</a>
</nav>